<script type="text/javascript">
    $(document).ready(function(){
      $('#multiDocsButon').click(function(){
        $("#multiDocsFile").click();
      });    
    });

function tipoOnChange(sel) {
///alert("muestra el sel" + sel);
      if (sel.value=="1" || sel.value=="3" || sel.value=="8" || sel.value=="10" || sel.value=="11" || sel.value=="16" || sel.value=="17"){
           divC = document.getElementById("subtipo");
           divC.style.display = "";
      }else{

           divC = document.getElementById("subtipo");
           divC.style.display="none";
		   //alert ("entro" + sel.value);
      }
}
</script>   

				<div  class="row" ng-controller="busquedaController" data-ng-init="inicioNexoForm();">
					<form name="formNexo" readOnly="true" novalidate>
								<br>

					<div ng-show= "formFormulario" class="col-md-12" class="row" >
						<div id="envio" class="col-md-12" tabindex="-1"  role="dialog"  aria-hidden="true">
								<div class="col-md-12" >
									<h3>Consultas</h3>
									<div ng-show= "filtros">
									<ul class="nav nav-tabs" role="tablist" class="header blue lighter bigger">
									<div class="tab-content">   
										  <div role="tabpanel" class="tab-pane active"  id="formulario">
												<div class="row">
													<div class="col-md-6">
														<div class="col-md-12">															
															<div class="form-group" >
																<div class="col-md-6">
																<label>Nº de Tr&aacute;mite:</label>
																	 <div class="controls">  
																	  <input ng-model="datos.app_uid1" id="CI_BIGDATA" name="CI_BIGDATA" class="form-control" ng-disabled="false"></input></div></div>
																	 <div class="col-md-6">
																	  <label>Al:</label>
																	  <div class="controls">  
																	  <input ng-model="datos.app_uid2" id="CI_BIGDATA" name="CI_BIGDATA" class="form-control" ng-disabled="false"></input>
																		</div>
																	</div>      
															</div>
														
															<div class="form-group" >
																<label for="url" >Tipo de Tr&aacute;mite</label>
																 <div class="controls">
																   <select id="tipoTramite" name="tipoTramite" ng-model="datos.tipoTramite" class="form-control" ng-options="datos.id as datos.descripcion for datos in dataTipoTramites"  ng-change="subTipoTramites(datos.tipoTramite);formulariosTramites(datos.tipoTramite); limpiar();" ng-disabled="desabilitado" onChange="tipoOnChange(this);"> 
																	<option style="display:none" value="datos.id">-- Seleccione Tipo --</option>
																   </select>                                       
																</div>
															</div>

															<div class="form-group" id="subtipo" name="subtipo" style="display:none;">
																<label for="url" >Subtipo de Tr&aacute;mite:</label>
																 <div class="controls">
																   <select id="subTipoTramite" name="subTipoTramite" ng-disabled="desabilitado" ng-model="datos.subTipoTramite" class="form-control" ng-options="datos.id as datos.descripcion for datos in dataSubTipoTramites" ng-show="">           
																   </select> 
																</div>
															</div>
														
															<div class="form-group" >
																<label for="url" >Procedencia:</label>
																 <div class="controls">
																   <select id="tipoHojaRuta" name="tipoHojaRuta" ng-model="datos.tipoHojaRuta" class="form-control">
																	 <option value="EXTERNO">EXTERNO</option>
                                                                       <option value="INTERNO">INTERNO</option>
																   </select> 
																</div>
															</div>
													   
															<div class="form-group" >
																<label for="url" >Asunto:</label>
																<div class="controls">
																	<input  ng-model="datos.asunto" id="asunto" name="asunto" class="form-control" type="text" placeholder="ingrese el asunto" onkeyUp="return conMayusculas(this);"  ng-disabled="desabilitado">           
																</div>
															</div>
														
															<div class="form-group">
																<label for="categoria">Estado:</label>
																<select id="estado" name="estado" class="form-control"  ng-model="datos.estado" >
																	<option value="" selected>-- Estado --</option>
																	<option value="ACTIVO">ACTIVO</option>
																	<option value="ANULADO">ANULADO</option>
																	<option value="FUSIONADO">FUSIONADO</option>
																	<option value="CERRADO">CERRADO</option>
																</select>
															</div>
														
												
																<div class="col-md-6"> 
																	<div class="form-group" >
														<label for="url" >Fecha de Creaci&oacute;n Desde:</label>
														<div class="controls">
															<p class="input-group"><input name="prsfecnmt1" id="prsfecnmt1" type="text" class="form-control" datepicker-popup="" ng-model="datos.fchDesde" is-open="startDateOpened1" ng-required="true" close-text="Close" placeholder="aaaa/dd/mm" ng-disabled="desabilitado"/>
															<span class="input-group-btn">
																<button type="button" class="btn btn-default" ng-click="startDateOpen1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
															</span></p>
														</div>
																	</div>
																</div>
														<div class="col-md-6">
															<div class="form-group" >
														<label for="url" > Hasta:</label>
														<div class="controls">
															<p class="input-group"><input name="prsfecnmt" id="prsfecnmt" type="text" class="form-control" datepicker-popup="" ng-model="datos.fchHasta" is-open="startDateOpened" ng-required="true" close-text="Close" placeholder="aaaa/dd/mm" ng-disabled="desabilitado"/>
															<span class="input-group-btn">
																<button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
															</span></p>
														</div>
																	</div>
														</div>

													<!--BOTON QUE MUESTRA EL ARBOL-->
													<div>
															<span><b>Nodo :</b> {{mytree.currentNode.roleName}}</span>
															
															 <a class="btn btn-primary" ng-click="arbolNodos();" data-toggle="modal" data-target="#arbol">
									<i class="glyphicon glyphicon-plus-sign"></i> Listar Nodos</a>
											  </div>
									<!-- MODAL -->
										<div class="modal fade" id="arbol" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
														<h4 class="modal-title" id="myModalLabel">&Aacute;rbol de Nodos</h4>
													</div>
													<div class="modal-body" >
											<div idArbol={{mytree.currentNode.roleName}}></div>
												  <div data-angular-treeview="true" data-tree-id="mytree" data-tree-model="roleList" data-node-id="roleId" data-node-label="roleName" data-node-children="children"></div> 
													</div>
												  </div>                                       
											</div>
									  </div>
										<div class="modal-footer">
											<button  ng-click="Recargar();" data-dismiss="modal" type="reset" class="btn btn-success  fa fa-search "> <span class="textoAux"> Limpiar</span></button> &nbsp;&nbsp;&nbsp;
											<button  ng-click="buscarDatos(datos, mytree.currentNode.roleId);" data-dismiss="modal" type="button" class="btn btn-success  fa fa-search "> <span class="textoAux"> Buscar</span></button>
										</div>
											</div>
										</div>
											</div>
											</div>
										</div>
										</div>
							</div>
							<!-- PANEL QUE MUESTRA RESULTADO DE BUSQUEDA-->    
										<div  class="row" class="col-md-12" ng-show="ResultadoBusqueda">
											<div class="modal-header">
											<button  ng-click="cargarNuevaBusqueda();" data-dismiss="modal" type="button" class="btn btn-success  fa fa-reply "> Nueva B&uacute;squeda</button>
							</div>
											<div class="row" ng-show="tablaDatos" class="col-md-9">
												<table show-filter="true" class="table table-striped table-bordered">
													<thead>
														<th><center>Opciones</center></th>
														<!--<th><center>#</center></th>-->
														<th><center>Nº Tr&aacute;mite</center></th>
														<th><center>Asunto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</center></th>
														<th><center>Nodo</center></th>
														<th><center>Tipo</center></th>
														<th><center>Sub Tipo</center></th>
														<th><center>Estado</center></th>
														<th><center>Fecha Creaci&oacute;n</center></th>
														
													</thead>
													<tbody>
														<tr class="column" ng-repeat="datos in obtDatos">
															<td align="center">     
																<a ng-click="verCopias(datos.uid)" tooltip="Ver Copias"  class="btn btn-default btn-circle"><i class="fa fa-eye" style="color:#249FE6"></i></a>
																<!--<a ng-click="VerActuacion(1,datos.uid, datos.nodo_origen, datos.tra_numero_tra, 0, datos.asunto, datos.tipo_tramite);cargar(1);" class="btn btn-default btn-circle" tooltip="Ingresar" ><i class="fa fa-folder-o" style="color:#249FE6"></i></a> -->
															</td>
															<!--<td>{{$index+1}}</td>-->
															<td>{{datos.tra_numero_tra}}</td>
															<td>{{datos.asunto}}</td>
															<td>{{datos.nodo}}</td>
															<td>{{datos.tipo_tramite}}</td>
															<td>{{datos.subtipo_tramite}}</td>
															<td>{{datos.estado_copia}}</td>
															<td>{{datos.fechacreacion}}</td>          
														</tr>
													</tbody>
												</table>
											</div>
										</div>
						</div>
						<!-- PANEL QUE MUESTRA LAS COPIAS las copias-->
						<div ng-show="MostrarCopias"> 
							<div class="modal-header">
								<button  ng-click="cargarBuscador();" data-dismiss="modal" type="button" class="btn btn-success  fa fa-reply "> Volver</button>
							</div>
						   <table ng-table="tablaCopias" class="table table-striped table-bordered">
							 <tr ng-repeat="tramite in DataTable"> 
								<td align="center">     
								   <a ng-click="VerActuacion(1,tramite.uid, tramite.nodoid, tramite.correlativo, tramite.nro_copia, tramite.asunto, tramite.tipo_tramite);cargar(1);valor('ver')" class="btn btn-default btn-circle"><i class="fa fa-eye" style="color:#249FE6"></i></a></td>
								<td data-title="'Nº Tr.'" sortable="'correlativo'" filter="{'correlativo':'text'}">{{tramite.correlativo}}</td>
								<td data-title="'Nº Copia'" sortable="'nrocopia_descrip'" filter="{'nrocopia_descrip':'text'}">{{tramite.nrocopia_descrip}}</td>
								<td data-title="'Asunto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'" sortable="'asunto'" filter="{'asunto':'text'}">{{tramite.asunto}}</td>
								 <td data-title="'Nodo'" sortable="'asunto'" filter="{'asunto':'text'}">{{tramite.nomnodo}}</td>
								<td data-title="'Tipo de Tr&aacute;mite'" sortable="'tipo_tramite'" filter="{'tipo_tramite':'text'}">{{tramite.tipo_tramite}}</td>
								<td data-title="'Procedencia'" sortable="'origen'" filter="{'origen':'text'}">{{tramite.origen}}</td>      
								<td data-title="'Fecha Creaci&oacute;n'" sortable="'fechacreado'" filter="{'fechacreado':'text'}">{{tramite.fechacreado}}</td> 
								<td data-title="'Fecha Env&iacute;o'" sortable="'fechaenvio'" filter="{'fechaenvio':'text'}">{{tramite.fechaenvio}}</td> 			
								<!-- <td data-title="'Nodo id'" sortable="'nodo_id'" filter="{'nodo_id':'text'}">{{tramite.nodo_id}}</td>	 -->
								<td data-title="'Tomado por'" sortable="'tomado_por'" filter="{'tomado_por':'text'}">{{tramite.tomado_por}}</td>  
							 </tr>
											</table>    
										</div>
						 <!-- FORMULARIO DE ENVIO  -->
						<div ng-show= "formActuacion"> <td><h4>           <font size = 4><u><b>Tr&aacute;mite: Nº</b></u></font> {{titulocorrelativo}} - {{titulonroCopia}} |<font size = 4><u><b> Asunto:</b></u></font> {{tituloasunto}} |<font size = 4><u><b> Tipo de Tr&aacute;mite:</b></u></font> {{titulotipo_tramite}}</h4></td>
							<form name="formNexo" readOnly="true" novalidate>                            
							
							<div class="col-md-12" class="row" >
								<div id="envio" class="col-md-12" tabindex="-1"  role="dialog"  aria-hidden="true">
									<div class="col-md-12" >
										<ul class="nav nav-tabs" role="tablist" class="header blue lighter bigger">
										<li>
											<a data-target="#tab" data-toggle="tab" ng-click="cargarCopias()" > <i class="fa fa-arrow-left" style="color:#249FE6"></i> Volver</a>
										</li>
										<li>
											<a data-target="#tab" data-toggle="tab" ng-click="cargar(1);valor('ver');cargar(1);" > <i class="fa fa-caret-square-o-right fa-lg" style="color:#249FE6"></i> Formulario</a>
										</li>   
										<!--**<li>
											<a data-target="#tab" data-toggle="tab" ng-click="cargar(2)" > <i class="fa fa-caret-square-o-right fa-lg" style="color:#249FE6"></i> Actuaci&oacute;n</a>
										</li>
										<li>
											<a data-target="#tab" data-toggle="tab" ng-click="cargar(5)" > <i class="fa fa-caret-square-o-right fa-lg" style="color:#249FE6"></i> Derivaci&oacute;n</a>**-->
										</li>                                                   
										<li>
											<a data-target="#tab" data-toggle="tab" ng-click="cargar(3)" > <i class="fa fa-caret-square-o-right fa-lg" style="color:#249FE6"></i> Fusiones</a>
										</li>                    
										<li>
											<a data-target="#tab" data-toggle="tab" ng-click="cargar(4)" > <i class="fa fa-caret-square-o-right fa-lg" style="color:#249FE6"></i> Hist&oacute;rico</a>
										</li>                        
										</ul>
										<div class="tab-content">
											<div id="tab" class="tab-pane active">
												<div ng-include="template.url" >
												</div>
											</div>
										</div>                                                          
									</div>
								</div>
							</div>
							</form>
							<div id="impresionHR"></div>
						</div> 
					</form>					             
				</div>
				</div>
				</div>
				