<div class="row" ng-controller="bandejaController" data-ng-init="inicioBandeja()">
    <div class="col-md-12" ng-show= "tableTramites"> 
        <td><h3>Bandeja de Entrada </h3></td>
        <div class="col-md-7">
        </div>
        <div class="col-md-5" align="right">
            <div class="form-group">
                <label for="url">Nodo</label>
                <div class="controls">
                    <select ng-model="nodoCombo" name="NodoId" id="NodoId" class="form-control" ng-change="filtroTramites(nodoCombo)">
                        <option ng-repeat="nodo in nodos" value="{{nodo}}">{{nodo.nodonombre}}</option>
                    </select>
                </div>
            </div>
        </div> 
        <div class="col-md-12">
            <table ng-table="tablaBandeja"  show-filter="true" class="table table-striped table-bordered">
                <tr ng-repeat="tramite in $data">
                    <td align="center" data-title="'Opciones'">
                        <!-- ojito: para ver si realizar ningun cambio -->
                        <a ng-show= "tramite.tomado_por != usuario" ng-click="habilitaActuacion(1, tramite.uid, tramite.nodo_id, tramite.correlativo, tramite.nro_copia, tramite.asunto, tramite.tipo_tramite, tramite.tomado_por);cargar(1);valor('ver')" class="btn btn-default btn-circle" tooltip = "Ver"><i class="fa fa-eye" style="color:#249FE6"></i></a> 
                        <!-- recibir tramite-->
                        <a ng-show= "tramite.estado_paso == 'PENDIENTE'" ng-click="recibirTramite(tramite)" class="btn btn-default btn-circle" tooltip = "Recibir Tr&aacute;mite"><i class="fa fa-download" style="color:#249FE6"></i></a>
                        <!-- actuar sobre tramite"  -->
                        <a ng-show= "tramite.tomado_por == usuario" ng-click="habilitaActuacion(1, tramite.uid, tramite.nodo_id, tramite.correlativo, tramite.nro_copia, tramite.asunto, tramite.tipo_tramite, tramite.tomado_por);cargar(1);valor('actuar')" class="btn btn-default btn-circle" tooltip = "Actuar sobre Tramite"><i class="fa fa-folder-o" style="color:#249FE6"></i></a>
                        <!-- tomar y actuar sobre tramite  -->
                        <a ng-show= "tramite.tomado_por == '' && tramite.estado_paso != 'PENDIENTE'" ng-click="tomarTramite(tramite, 'actuar',1, tramite.uid, tramite.nodo_id, tramite.correlativo, tramite.nro_copia, tramite.asunto, tramite.tipo_tramite, tramite.tomado_por);" class="btn btn-default btn-circle" tooltip = "Tomar y Actuar sobre Tramite"><i class="fa fa-folder-o" style="color:#249FE6"></i></a>
                        <!-- dejar tramite  -->
                        <a ng-show= "tramite.tomado_por == usuario" ng-click="tomarTramite(tramite, 'dejar', 2)" class="btn btn-default btn-circle" tooltip = "Dejar Tramite"><i class="fa fa-pencil-square" style="color:#249FE6"></i></a>
                    </td>
                    <!-- <td data-title="'UID'" sortable="'uid'" filter="{'uid':'text'}">{{tramite.uid}}</td> -->
                    <td data-title="'Nº Tr&aacute;mite.'" sortable="'correlativo'" filter="{'correlativo':'text'}">{{tramite.correlativo}}</td>
                    <td data-title="'Nº Copia'" sortable="'nrocopia_descrip'" filter="{'nrocopia_descrip':'text'}">{{tramite.nrocopia_descrip}}</td>
                    <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Asunto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'" sortable="'asunto'" filter="{'asunto':'text'}">{{tramite.asunto}}</td>
                    <td data-title="'Tipo de Tr&aacute;mite'" sortable="'tipo_tramite'" filter="{'tipo_tramite':'text'}">{{tramite.tipo_tramite}}</td>
                    <td data-title="'Procedencia'" sortable="'origen'" filter="{'origen':'text'}">{{tramite.origen}}</td>      
    				<td data-title="'Fecha Creaci&oacute;n'" sortable="'fechacreado'" filter="{'fechacreado':'text'}">{{tramite.fechacreado}}</td> 
    				<td data-title="'Fecha Env&iacute;o'" sortable="'fechaenvio'" filter="{'fechaenvio':'text'}">{{tramite.fechaenvio}}</td> 			
    				<!-- <td data-title="'Nodo id'" sortable="'nodo_id'" filter="{'nodo_id':'text'}">{{tramite.nodo_id}}</td>	 -->
    				<td data-title="'Tomado por'" sortable="'tomado_por'" filter="{'tomado_por':'text'}">{{tramite.tomado_por}}</td>
                </tr>
            </table>
        </div>   
    </div>   
<div ng-show= "formActuacion">	<td><h4>           <font size = 4><u><b>Tr&aacute;mite: Nº</b></u></font> {{titulocorrelativo}} - {{titulonroCopia}} |<font size = 4><u><b> Asunto:</b></u></font> {{tituloasunto}} |<font size = 4><u><b> Tipo de Tr&aacute;mite:</b></u></font> {{titulotipo_tramite}}</h4></td>
	<form name="formNexo" readOnly="true" novalidate>
	<!--a ng-click="habilitaActuacion(2, 0, 0)" class="btn btn-default btn-circle"><i class="fa fa-arrow-left" style="color:#249FE6"></i></a-->	
    <!-- MODAL DE ENVIO  -->
    <div class="col-md-12" class="row" >
        <div id="envio" class="col-md-12" tabindex="-1"  role="dialog"  aria-hidden="true">
                <div class="col-md-12" >
                    <ul class="nav nav-tabs" role="tablist" class="header blue lighter bigger">
					<li>
                        <a data-target="#tab" data-toggle="tab" ng-click="habilitaActuacion(2, 0, 0, 0, 0, 0, 0, 0)" > <i class="fa fa-arrow-left" style="color:#249FE6"></i> Atr&aacute;s</a>
                    </li>
                    <li>
                        <a data-target="#tab" data-toggle="tab" ng-click="cargar(1);" > <i class="fa fa-caret-square-o-right fa-lg" style="color:#249FE6"></i> Formulario</a>
                    </li>
					<li>
                        <a data-target="#tab" data-toggle="tab" ng-click="cargar(2)" > <i class="fa fa-caret-square-o-right fa-lg" style="color:#249FE6"></i> Actuaci&oacute;n</a>
                    </li>
                    <li>
                        <a data-target="#tab" data-toggle="tab" ng-click="cargar(5)" > <i class="fa fa-caret-square-o-right fa-lg" style="color:#249FE6"></i> Derivaci&oacute;n</a>
                    </li>						
                    <li>
                        <a data-target="#tab" data-toggle="tab" ng-click="cargar(3)" > <i class="fa fa-caret-square-o-right fa-lg" style="color:#249FE6"></i> Fusiones</a>
                    </li>                    
                    <li>
                        <a data-target="#tab" data-toggle="tab" ng-click="cargar(4)" > <i class="fa fa-caret-square-o-right fa-lg" style="color:#249FE6"></i> Histórico</a>
                    </li>												
					</ul>
					<div class="tab-content">
						<div id="tab" class="tab-pane active">
							<div ng-include="template.url" >
							</div>
						</div>
					</div>
                    <!--<li role="presentation"  ><a href="#fusion" aria-controls="profile" role="tab" data-toggle="tab" ng-click="mostrarDescripcion"><img src="../../libs/img/iconos/antecedentes.jpg" height="30px" width="30px" /> Fusion</a></li>-->                   
            </div>
        </div>
    </div>
    </form>  
    <div id="impresionHR"></div>
</div>	
</div>